* {
    background-color: #fefae0;
}

/* Color CSS by Class */

/* .darkGreen {
    color: #283618;
}

.lightGreen {
    color: #606C38;
}

.offWhite {
    color: #FEFAE0;
}

.lightOrange {
    color: #DDA15E;
}

.orange {
    color: #BC6C25;
} */

/* HEADER CSS */

header {
    display: flex;
    width: 100%;
    min-height: 50px;
    height: 10vh;
}

.header-logo {
    width: 10%;
    overflow: hidden;
}

.header-logo > img {
    max-width: 100%;
    max-height: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

nav > h3 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/* INDEX MAIN CSS */

main {
    height: 100vh;
    border: 2px black solid;
    background-color: lightgrey;
    border-radius: 5px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.details {
    width: 100%;
    background-color: lightgrey;
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details > img {
    height: 70%;
}

.details > p {
    background-color: lightgrey;
    margin-left: 3%;
    margin-right: 3%;
}

.details > h3 {
    background-color: lightgrey;
}

.quick_select {
    background-color: lightgrey;
    height: 30%;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
}

.quick_items {
    background-color: lightgrey;
    width: 33%;
    height: 100%;
    overflow: hidden;
}

.quick_items > img {
    background-color: lightgrey;
    height: 95%;
    width: 95%;
    padding: 2.5%;
}

.detail_text { 
    display: none;
}

#about_main { 
    display: flex;
}

#contact_main {
    display: flex;
}

article {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

article > img {
    background-color: lightgrey;
    width: 100%;
}

.article_text {
    overflow-wrap: break-word;
    background-color: lightgrey;
}

aside {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 5px;
    height: 100%;
}

aside > p {
    background-color: lightgrey;
    padding: 2.5vw;
}

/* FOOTER CSS */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 3vh;
    max-height: 10vh;
}

.footer_text {
    margin: 0px;
}
